.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 70%;
  
}
.App-header {
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  border: thin solid black;
  padding: 2rem;
  display: flex;
}

.button {
  background-color: lightgrey;
}

.formtext {
  border: thin solid black;
  position: relative;
  top: -48px;
  background: white;
  padding: 7px;
  width: 145px;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
